*{
    margin: 0;
}
html, body{
    height: 100%;
}

h1 {
    color: blue;
    display: flex;

    justify-content: center;
}
ol {
    display: flex;
    flex-direction: column;

}
form {
    display: flex;
    flex-flow: wrap;
}
li {

}
input {
    align-self: center;
}

span {
    align-self: center;
}
.wrap {
    flex-direction: column;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

body {

    display: flex;
    flex-direction: column;
}
.regist {
flex-basis: min-content;
}
.container-reg{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
