<div class="wrap">
    <h1>Main</h1>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="col-12 col-lg-6">
                    <ol class="list-group">
                        <% lists.forEach(list => { %>
                        <li style="list-style: none; font-size: 1.5rem"
                            class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="tasks-list?listId=<%= list.listId %>"> <%= list.name %></a>
                            <span class="badge badge-success badge-pill"><%= list.unDone %></span>
                            <form action="/delete-list" method="post" style="display: inline-block">
                                <input value="<%= list.listId  %>" name="listId" type="hidden">
                                <button type="submit" class="btn btn-danger">x</button>
                            </form>
                        </li>
                        <% }); %>
                    </ol>
                </div>
            </div>

            <div class="col-12 col-sm-6"
                 style="display: flex;flex-wrap: wrap;flex-direction: row; align-content: start; justify-content: flex-end;">
                <form method="post" action="/add-list">
                    <input name="name" required placeholder="list name">
                    <input type="submit" class="btn btn-primary" value="add new list" style="margin-left: 5px ">
                </form>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <a href="/delete-user?userId=<%= userId %>">
                <button class="btn btn-danger btn-lg">delete user</button>
            </a>
        </div>
    </div>
</div>