<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TODO APP</title>
  <link rel="stylesheet" href="/index.css" type="text/css">
</head>
<body>
<header>
  <a href="/" style="list-style: none">Main page</a>
</header>


<%- body %>


<footer style="margin-top: 100px; display: flex; justify-content: space-between">@copyright 2019
<span id="weather"></span>
</footer>
</body>
<script>
  async function GetWeatherByFetch() {
    const API = 'ce65a544a042c7fb0d28587ccb3c5cb8';
    const city = 'Vinnytsya';
    const url = `http://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${API}`;
    const {main, name} = await fetch(url).then(data=>data.json());
    let span = document.getElementById('weather');
    span.innerHTML = name.toString() + ' ' + (main.temp-273.15).toString()+' degrees';
  }
  GetWeatherByFetch();
</script>
</html>
