<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/index.css" type="text/css">
</head>
<body>
<header>
  <a href="/" style="list-style: none">Main page</a> |
  <a href="/profile"><%= sessionName %></a>
  <% if(sessionUserId) { %>
    <img src="/avatar/avatar-<%= sessionUserId %>.jpg" height="50px">
  <% } %>
  <% if(sessionName) { %>
|    <a href="/logout">Log out</a>
  <% } %>
</header>
<p style="background-color: lightyellow"><%= msg %></p>

<%- body %>

<footer style="margin-top: 100px">@copyright 2019</footer>
</body>
</html>
