<form method="post">
  <fieldset>
    <legend>Login or register</legend>
    <table>
      <tr>
        <td><label for="name">Name:</label></td>
        <td>
          <input name="name" id="name" required value="<%= name %>"></label><br>
        </td>
      </tr>
      <tr>
        <td><label for="password">Password:</label></td>
        <td><input name="password" id="password" required type="password"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" value="Register" formaction="/register"
                 style="background-color: green; margin-right: 20px"
          >
          <input type="submit" value="Login" formaction="/login" style="background-color: blue">
        </td>
      </tr>
    </table>
  </fieldset>
</form>
