<h1>ToDo</h1>
<div class="container wrap">
    <div class="row container-reg">
        <div class="col-12 col-sm-4">
            <form method="post" class="regist" id="login"
                  style="display: flex; flex-direction: column; justify-content: center">
                <legend>Login or register</legend>
                <div class="form-group">
                    <input type="text" class="form-control" id="userName" name="userName" aria-describedby="emailHelp"
                           placeholder="Enter name" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                           placeholder="Password" required>
                </div>
                <div style="display:flex; justify-content: space-between">
                    <button type="submit" formaction="/login" class="btn btn-primary">Enter</button>
                    <button type="submit" formaction="/signIn" class="btn btn-success">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
<ul>
    <% users.forEach(user => { %>
    <li>
        <%= user.userName %> <%= user.password %>
        <a href="/delete-user?userId=<%= user.userId %>">x</a>
        <!-- <form method="post" action="/delete-user" style="display: inline-block">
             <input type="hidden" value="<%= user.userId %>" name="userId">
             <input type="submit" value="x">
         </form>-->
    </li>
    <% }); %>
</ul>